/* About */

#About {
    min-height: calc(100vh - 117px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: map-get($colores, color-1);
    overflow-y: scroll;
    padding-top: 30px;
    #Titulo {
        margin-bottom: 30px;
    }
    .About__container{
        width: 90%;
        display: flex;
        min-height: 375px;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 0px 30px 30px 30px;
        .About__img {
            height: auto;
            max-width: 500px;
            width: 100%;
            min-width: 300px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .About__texto{
            min-height: auto;
            max-width: 500px;
            width: 100%;
            min-width: 300px;
            text-align: left;
            color: map-get($colores, color-6);
            h5 {
                line-height: 1.44;
                margin-top: 5px;
            }
        }
    }
}