/* Diploma */

#Diploma {
    width: 30%;
    min-width: 300px;
    margin: 0px 30px 30px 30px;
    aspect-ratio: 1/0.649;
    .Diploma__foto {
        width: 100%;
        object-fit: contain;
    }
}