/* Dropdown */

#Dropdown {
    margin-left: 10px;
    button {
        background-color: map-get($colores, color-6);
        color: map-get($colores, color-1);
    }
    .dropdown-menu {
        background-color: map-get($colores, color-6);
        .dropdown-item {
            color: map-get($colores, color-1);
            background-color: map-get($colores, color-6);
            text-decoration: underline;
            &:hover {
                background-color: map-get($colores, color-5);
            }
        }
    }
}