/* Foto */

.front-end__contenedor {
    gap: 30px;
    margin: 30px;
    #html {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #html__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 1;
        }
    }

    #css {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #css__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 1;
        }
    }

    #bootstrap {
        background-color: white;
        border: 1px solid map-get($colores, color-6);
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #bootstrap__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 1;
        }
    }

    #sass {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #sass__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
        }
    }

    #javascript {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #javascript__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 1;
        }
    }

    #react {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #react__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
        }
    }

    #redux {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #redux__foto{
            height: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
            

            
        }
    }
}

.back-end__contenedor {
    gap: 30px;
    margin: 30px;
    #firebase {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #firebase__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
        }
    }
    #nodeJs {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #nodeJs__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 1.2;
        }
    }
    #express {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #express__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
        }
    }
}

.tools__contenedor {
    gap: 30px;
    margin: 30px;
    #github {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #github__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
        }
    }
    #filezilla {
        border: 1px solid map-get($colores, color-6);
        background-color: white;
        width: 75px;
        height: 75px;
        overflow: hidden;
        border-radius: 10px;
        #filezilla__foto{
            width: 100%;
            aspect-ratio: 1/1;
            scale: 0.9;
        }
    }
}