/* Foto */

.front-end__contenedor {
    gap: 30px;
    margin: 30px;
    #html {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #html__foto{
            width: 100%;
            object-fit: contain;
            object-fit: contain;
            scale: 1;
        }
    }

    #css {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #css__foto{
            width: 100%;
            object-fit: contain;
            object-fit: contain;
            scale: 1;
        }
    }

    #bootstrap {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #bootstrap__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1.4;
        }
    }

    #sass {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #sass__foto{
            height: 100%;
            width: 100%;
            object-position: -3px;
            object-fit: contain;
            scale: 1.9;
        }
    }

    #javascript {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #javascript__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1.7;
        }
    }

    #react {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #react__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1.5;
        }
    }

    #react-native {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #react-native__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1.8;
        }
    }
}

.back-end__contenedor {
    #firebase {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #firebase__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1.6;
        }
    }
}

.back-end__contenedor {
    gap: 30px;
    margin: 30px;
    #api {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        
        #api__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 2.7;
            object-position: 0px 27px;
        }
    }
}

.tools__contenedor {
    gap: 30px;
    margin: 30px;
    #github {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #github__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1;
        }
    }
    #filezilla {
        width: 125px;
        height: 125px;
        overflow: hidden;
        border-radius: 10px;
        #filezilla__foto{
            height: 100%;
            width: 100%;
            object-fit: contain;
            scale: 1.6;
        }
    }
}