/* Heart */

#Heart {

    .svg { 
        margin: 0px 10px 0px 10px;
        height: 36px;
        width: 36px;
        color: map-get($colores, color-6);
        &:hover {
            color: map-get($colores, color-5);
            scale: 1.1;
        }
    }    
}
