/* Name */

#Name {
    height: calc(100vh - 124px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 3px map-get($colores, color-4);
    background-color: map-get($colores, color-1);
    text-align: center;
    .display-1 {
        color: map-get($colores, color-6);
        margin: 0px 30px 0px 30px;
    }
    .display-4 {
        font-style: italic;
        color: map-get($colores, color-6);
        margin: 0px 30px 0px 30px;
    }
}