/* Name */

#Name {
    min-height: calc(100vh - 117px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 3px map-get($colores, color-3);
    background-color: map-get($colores, color-1);
    text-align: center;
    overflow-y: scroll;
    .display-1 {
        color: map-get($colores, color-6);
        margin: 0px 30px 0px 30px;
    }
    .display-4 {
        font-style: italic;
        color: map-get($colores, color-6);
        margin: 0px 30px 0px 30px;
    }
    .Name__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
        #Boton {
            margin-bottom: 7px;
        }
    }
}