/* Tools */

#Tools {
    min-height: calc(100vh - 117px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: map-get($colores, color-1);
    padding-top: 30px;
    .Tools__botones {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        .botones__container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 15px;
            margin-bottom: 30px;
        }
    }
    .Tools__Foto {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    .Tools__front-end {
        max-width: 515px;
        width: 80%;
        min-width: 300px;
        height: auto;
        min-height: 315px;
        box-shadow: 3px 3px 3px map-get($colores, color-6);
        border: 2px solid map-get($colores, color-6);
        border-radius: 20px;
        margin: 0px 30px 30px 30px;
        h2 {
            color: map-get($colores, color-6);
            text-align: center;
            margin: 30px;
            text-decoration: underline;
            font-style: italic;
        }
        .front-end__contenedor {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .Tools__back-end {
        max-width: 300px;
        width: 80%;
        min-width: 300px;
        height: auto;
        min-height: 315px;
        box-shadow: 3px 3px 3px map-get($colores, color-6);
        border: 2px solid map-get($colores, color-6);
        border-radius: 20px;
        margin: 0px 30px 30px 30px;
        h2 {
            color: map-get($colores, color-6);
            text-align: center;
            margin: 30px;
            text-decoration: underline;
            font-style: italic;
        }
        .back-end__contenedor {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .Tools__tools {
        max-width: 300px;
        width: 80%;
        min-width: 300px;
        height: auto;
        min-height: 315px;
        box-shadow: 3px 3px 3px map-get($colores, color-6);
        border: 2px solid map-get($colores, color-6);
        border-radius: 20px;
        margin: 0px 30px 30px 30px;
        h2 {
            color: map-get($colores, color-6);
            text-align: center;
            margin: 30px;
            text-decoration: underline;
            font-style: italic;
        }
        .tools__contenedor {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .svg {
        height: 50px;
        width: 50px;
        color: map-get($colores, color-6);
        margin: 0px 15px 30px 15px;
    }
}